.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal{
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    text-align: center;
   background: rgba(255, 255, 255);
   border: 1px solid white;
}

.text{
    font-size: 20px;
    font-weight: 500;
    color: grey;
}

.actions{
    display: flex;
    gap: 10px;
    margin-top: 16px;
    justify-content: center;
}

.button {
    border: none;
    color: white;
    background-color: #3F5EFB;
    transition: background-color 0.3s ease;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    outline: none;
}

.button:hover {
    background-color: #55fc46;
}